# Pandas

#### Dataframes and Series

- dataframes is a multidimensional
- series is a one dimensional

In [1]:
# importing the libraries
import numpy as np
import pandas as pd

In [2]:
# creating a series
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [3]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
# creating a dataframe by passing a numpy array
dates = pd.date_range('20130101', periods=6)

In [5]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

In [7]:
df

                   A         B         C         D
2013-01-01  0.420093 -0.788766 -0.333618 -0.266961
2013-01-02 -0.157410  0.246938  1.526122  1.645895
2013-01-03 -0.832360  0.827869 -0.137898 -1.269782
2013-01-04  0.753146 -1.292556  1.123583 -1.939830
2013-01-05 -0.464682  0.715183  1.489943 -1.017269
2013-01-06 -0.845191 -0.692816  0.246649  1.781416

In [8]:
# get 1st row
df.iloc[0]

A    0.420093
B   -0.788766
C   -0.333618
D   -0.266961
Name: 2013-01-01 00:00:00, dtype: float64

In [9]:
df.head(1)

                   A         B         C         D
2013-01-01  0.420093 -0.788766 -0.333618 -0.266961

In [10]:
# get columns
df.A

2013-01-01    0.420093
2013-01-02   -0.157410
2013-01-03   -0.832360
2013-01-04    0.753146
2013-01-05   -0.464682
2013-01-06   -0.845191
Freq: D, Name: A, dtype: float64

In [11]:
labels = ['W', 'X', 'Y', 'Z']
list = [10, 20, 30, 40]
array = np.array([10, 20, 30, 40])
dict = {'w': 10, 'x': 30, 'y': 20, 'z': 40}

In [12]:
pd.Series(data=list)

0    10
1    20
2    30
3    40
dtype: int64

In [13]:
pd.Series(data=list, index=labels)

W    10
X    20
Y    30
Z    40
dtype: int64

In [14]:
# creating a series based on a dictionary
pd.Series(dict)

w    10
x    30
y    20
z    40
dtype: int64

In [15]:
a = {'w': 10, 'x': [30, 45, 89], 'y': ('ab', 'cd', 'ef'), 'z': {'a': 56, 'b': 89}}

In [16]:
pd.Series(a)

w                    10
x          [30, 45, 89]
y          (ab, cd, ef)
z    {'a': 56, 'b': 89}
dtype: object

#### indexing a series

In [17]:
sports1 = pd.Series([1, 2, 3, 4], index= ['Cricket', 'Football', 'Basketball', 'Golf'])

In [18]:
sports2 = pd.Series([1, 2, 5, 4], index= ['Cricket', 'Hockey', 'Basketball', 'Golf'])

In [19]:
sports1

Cricket       1
Football      2
Basketball    3
Golf          4
dtype: int64

In [20]:
sports2

Cricket       1
Hockey        2
Basketball    5
Golf          4
dtype: int64

In [21]:
sports1['Cricket']

1

##### Operations are also done based on index

In [22]:
sports1 + sports2

Basketball    8.0
Cricket       2.0
Football      NaN
Golf          8.0
Hockey        NaN
dtype: float64

In [23]:
np.random.seed(100)   # to fix the changing nature of random
dataframe = pd.DataFrame(np.random.randn(10, 5), index = 'A B C D E F G H I J'.split(), columns='Score1 Score2 Score3 Score4 Score5'.split())

In [24]:
dataframe

     Score1    Score2    Score3    Score4    Score5
A -1.749765  0.342680  1.153036 -0.252436  0.981321
B  0.514219  0.221180 -1.070043 -0.189496  0.255001
C -0.458027  0.435163 -0.583595  0.816847  0.672721
D -0.104411 -0.531280  1.029733 -0.438136 -1.118318
E  1.618982  1.541605 -0.251879 -0.842436  0.184519
F  0.937082  0.731000  1.361556 -0.326238  0.055676
G  0.222400 -1.443217 -0.756352  0.816454  0.750445
H -0.455947  1.189622 -1.690617 -1.356399 -1.232435
I -0.544439 -0.668172  0.007315 -0.612939  1.299748
J -1.733096 -0.983310  0.357508 -1.613579  1.470714

In [25]:
dataframe['Score1']

A   -1.749765
B    0.514219
C   -0.458027
D   -0.104411
E    1.618982
F    0.937082
G    0.222400
H   -0.455947
I   -0.544439
J   -1.733096
Name: Score1, dtype: float64

In [26]:
dataframe[['Score1', 'Score2']]

     Score1    Score2
A -1.749765  0.342680
B  0.514219  0.221180
C -0.458027  0.435163
D -0.104411 -0.531280
E  1.618982  1.541605
F  0.937082  0.731000
G  0.222400 -1.443217
H -0.455947  1.189622
I -0.544439 -0.668172
J -1.733096 -0.983310

In [27]:
type(dataframe[['Score1', 'Score2']])

pandas.core.frame.DataFrame

#### Adding a new column to the Dataframe

In [28]:
dataframe['Score6'] = dataframe['Score1'] + dataframe['Score2']

In [29]:
dataframe

     Score1    Score2    Score3    Score4    Score5    Score6
A -1.749765  0.342680  1.153036 -0.252436  0.981321 -1.407085
B  0.514219  0.221180 -1.070043 -0.189496  0.255001  0.735399
C -0.458027  0.435163 -0.583595  0.816847  0.672721 -0.022863
D -0.104411 -0.531280  1.029733 -0.438136 -1.118318 -0.635692
E  1.618982  1.541605 -0.251879 -0.842436  0.184519  3.160587
F  0.937082  0.731000  1.361556 -0.326238  0.055676  1.668083
G  0.222400 -1.443217 -0.756352  0.816454  0.750445 -1.220817
H -0.455947  1.189622 -1.690617 -1.356399 -1.232435  0.733675
I -0.544439 -0.668172  0.007315 -0.612939  1.299748 -1.212611
J -1.733096 -0.983310  0.357508 -1.613579  1.470714 -2.716406

#### Removing the columns from dataframe

In [30]:
dataframe.drop('Score6', axis=1) # will create a new dataframe with column removed and the existing dataframe remained unharmed

     Score1    Score2    Score3    Score4    Score5
A -1.749765  0.342680  1.153036 -0.252436  0.981321
B  0.514219  0.221180 -1.070043 -0.189496  0.255001
C -0.458027  0.435163 -0.583595  0.816847  0.672721
D -0.104411 -0.531280  1.029733 -0.438136 -1.118318
E  1.618982  1.541605 -0.251879 -0.842436  0.184519
F  0.937082  0.731000  1.361556 -0.326238  0.055676
G  0.222400 -1.443217 -0.756352  0.816454  0.750445
H -0.455947  1.189622 -1.690617 -1.356399 -1.232435
I -0.544439 -0.668172  0.007315 -0.612939  1.299748
J -1.733096 -0.983310  0.357508 -1.613579  1.470714

In [31]:
dataframe

     Score1    Score2    Score3    Score4    Score5    Score6
A -1.749765  0.342680  1.153036 -0.252436  0.981321 -1.407085
B  0.514219  0.221180 -1.070043 -0.189496  0.255001  0.735399
C -0.458027  0.435163 -0.583595  0.816847  0.672721 -0.022863
D -0.104411 -0.531280  1.029733 -0.438136 -1.118318 -0.635692
E  1.618982  1.541605 -0.251879 -0.842436  0.184519  3.160587
F  0.937082  0.731000  1.361556 -0.326238  0.055676  1.668083
G  0.222400 -1.443217 -0.756352  0.816454  0.750445 -1.220817
H -0.455947  1.189622 -1.690617 -1.356399 -1.232435  0.733675
I -0.544439 -0.668172  0.007315 -0.612939  1.299748 -1.212611
J -1.733096 -0.983310  0.357508 -1.613579  1.470714 -2.716406

In [32]:
dataframe.drop('Score6', axis=1, inplace=True) # will overwrite the existing dataframe and remove the column

In [33]:
dataframe

     Score1    Score2    Score3    Score4    Score5
A -1.749765  0.342680  1.153036 -0.252436  0.981321
B  0.514219  0.221180 -1.070043 -0.189496  0.255001
C -0.458027  0.435163 -0.583595  0.816847  0.672721
D -0.104411 -0.531280  1.029733 -0.438136 -1.118318
E  1.618982  1.541605 -0.251879 -0.842436  0.184519
F  0.937082  0.731000  1.361556 -0.326238  0.055676
G  0.222400 -1.443217 -0.756352  0.816454  0.750445
H -0.455947  1.189622 -1.690617 -1.356399 -1.232435
I -0.544439 -0.668172  0.007315 -0.612939  1.299748
J -1.733096 -0.983310  0.357508 -1.613579  1.470714

#### Dropping rows

In [34]:
dataframe.drop('A', axis=0)

     Score1    Score2    Score3    Score4    Score5
B  0.514219  0.221180 -1.070043 -0.189496  0.255001
C -0.458027  0.435163 -0.583595  0.816847  0.672721
D -0.104411 -0.531280  1.029733 -0.438136 -1.118318
E  1.618982  1.541605 -0.251879 -0.842436  0.184519
F  0.937082  0.731000  1.361556 -0.326238  0.055676
G  0.222400 -1.443217 -0.756352  0.816454  0.750445
H -0.455947  1.189622 -1.690617 -1.356399 -1.232435
I -0.544439 -0.668172  0.007315 -0.612939  1.299748
J -1.733096 -0.983310  0.357508 -1.613579  1.470714

#### Accessing Columns

In [35]:
dataframe['Score1']

A   -1.749765
B    0.514219
C   -0.458027
D   -0.104411
E    1.618982
F    0.937082
G    0.222400
H   -0.455947
I   -0.544439
J   -1.733096
Name: Score1, dtype: float64

In [36]:
dataframe.Score1

A   -1.749765
B    0.514219
C   -0.458027
D   -0.104411
E    1.618982
F    0.937082
G    0.222400
H   -0.455947
I   -0.544439
J   -1.733096
Name: Score1, dtype: float64

#### Accessing the rows

In [37]:
dataframe.loc['C']

Score1   -0.458027
Score2    0.435163
Score3   -0.583595
Score4    0.816847
Score5    0.672721
Name: C, dtype: float64

In [38]:
dataframe.iloc[2]

Score1   -0.458027
Score2    0.435163
Score3   -0.583595
Score4    0.816847
Score5    0.672721
Name: C, dtype: float64

#### Selecting the subset of rows and columns

In [39]:
dataframe.loc['C', 'Score1']

-0.4580269855026243

In [40]:
dataframe.loc[['C', 'D'], 'Score1']

C   -0.458027
D   -0.104411
Name: Score1, dtype: float64

In [41]:
dataframe.loc[['C', 'D'], ['Score1']]

     Score1
C -0.458027
D -0.104411

In [42]:
dataframe.loc[['C', 'D'], ['Score1', 'Score2']]

     Score1    Score2
C -0.458027  0.435163
D -0.104411 -0.531280

#### Conditional Selection

In [43]:
dataframe

     Score1    Score2    Score3    Score4    Score5
A -1.749765  0.342680  1.153036 -0.252436  0.981321
B  0.514219  0.221180 -1.070043 -0.189496  0.255001
C -0.458027  0.435163 -0.583595  0.816847  0.672721
D -0.104411 -0.531280  1.029733 -0.438136 -1.118318
E  1.618982  1.541605 -0.251879 -0.842436  0.184519
F  0.937082  0.731000  1.361556 -0.326238  0.055676
G  0.222400 -1.443217 -0.756352  0.816454  0.750445
H -0.455947  1.189622 -1.690617 -1.356399 -1.232435
I -0.544439 -0.668172  0.007315 -0.612939  1.299748
J -1.733096 -0.983310  0.357508 -1.613579  1.470714

In [44]:
dataframe > 0.5

   Score1  Score2  Score3  Score4  Score5
A   False   False    True   False    True
B    True   False   False   False   False
C   False   False   False    True    True
D   False   False    True   False   False
E    True    True   False   False   False
F    True    True    True   False   False
G   False   False   False    True    True
H   False    True   False   False   False
I   False   False   False   False    True
J   False   False   False   False    True

In [45]:
dataframe.iloc[6] > 0.3

Score1    False
Score2    False
Score3    False
Score4     True
Score5     True
Name: G, dtype: bool

In [46]:
dataframe[dataframe>0.5]

     Score1    Score2    Score3    Score4    Score5
A       NaN       NaN  1.153036       NaN  0.981321
B  0.514219       NaN       NaN       NaN       NaN
C       NaN       NaN       NaN  0.816847  0.672721
D       NaN       NaN  1.029733       NaN       NaN
E  1.618982  1.541605       NaN       NaN       NaN
F  0.937082  0.731000  1.361556       NaN       NaN
G       NaN       NaN       NaN  0.816454  0.750445
H       NaN  1.189622       NaN       NaN       NaN
I       NaN       NaN       NaN       NaN  1.299748
J       NaN       NaN       NaN       NaN  1.470714

In [47]:
dataframe[ dataframe['Score1'] > 0.5 ]

     Score1    Score2    Score3    Score4    Score5
B  0.514219  0.221180 -1.070043 -0.189496  0.255001
E  1.618982  1.541605 -0.251879 -0.842436  0.184519
F  0.937082  0.731000  1.361556 -0.326238  0.055676

In [48]:
dataframe[ dataframe['Score1'] > 0.5 ]['Score2']

B    0.221180
E    1.541605
F    0.731000
Name: Score2, dtype: float64

In [49]:
dataframe[ dataframe['Score1'] > 0.5 ]['Score2'], ['Score5']

(B    0.221180
 E    1.541605
 F    0.731000
 Name: Score2, dtype: float64,
 ['Score5'])