# Pandas

#### Dataframes and Series

- dataframes is a multidimensional
- series is a one dimensional

In [71]:
# importing the libraries
import numpy as np
import pandas as pd

In [72]:
# creating a series
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [73]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [74]:
# creating a dataframe by passing a numpy array
dates = pd.date_range('20130101', periods=6)

In [75]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [76]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

TypeError: 'list' object is not callable

In [ ]:
df

In [ ]:
# get 1st row
df.iloc[0]

In [ ]:
df.head(1)

In [ ]:
# get columns
df.A

In [ ]:
labels = ['W', 'X', 'Y', 'Z']
list = [10, 20, 30, 40]
array = np.array([10, 20, 30, 40])
dict = {'w': 10, 'x': 30, 'y': 20, 'z': 40}

In [ ]:
pd.Series(data=list)

In [ ]:
pd.Series(data=list, index=labels)

In [ ]:
# creating a series based on a dictionary
pd.Series(dict)

In [ ]:
a = {'w': 10, 'x': [30, 45, 89], 'y': ('ab', 'cd', 'ef'), 'z': {'a': 56, 'b': 89}}

In [ ]:
pd.Series(a)

#### indexing a series

In [ ]:
sports1 = pd.Series([1, 2, 3, 4], index= ['Cricket', 'Football', 'Basketball', 'Golf'])

In [ ]:
sports2 = pd.Series([1, 2, 5, 4], index= ['Cricket', 'Hockey', 'Basketball', 'Golf'])

In [ ]:
sports1

In [ ]:
sports2

In [ ]:
sports1['Cricket']

##### Operations are also done based on index

In [ ]:
sports1 + sports2

In [ ]:
np.random.seed(100)   # to fix the changing nature of random
dataframe = pd.DataFrame(np.random.randn(10, 5), index = 'A B C D E F G H I J'.split(), columns='Score1 Score2 Score3 Score4 Score5'.split())

In [ ]:
dataframe

In [ ]:
dataframe['Score1']

In [ ]:
dataframe[['Score1', 'Score2']]

In [ ]:
type(dataframe[['Score1', 'Score2']])

#### Adding a new column to the Dataframe

In [ ]:
dataframe['Score6'] = dataframe['Score1'] + dataframe['Score2']

In [ ]:
dataframe

#### Removing the columns from dataframe

In [ ]:
dataframe.drop('Score6', axis=1) # will create a new dataframe with column removed and the existing dataframe remained unharmed

In [ ]:
dataframe

In [ ]:
dataframe.drop('Score6', axis=1, inplace=True) # will overwrite the existing dataframe and remove the column

In [ ]:
dataframe

#### Dropping rows

In [ ]:
dataframe.drop('A', axis=0)

#### Accessing Columns

In [ ]:
dataframe['Score1']

In [ ]:
dataframe.Score1

#### Accessing the rows

In [ ]:
dataframe.loc['C']

In [ ]:
dataframe.iloc[2]

#### Selecting the subset of rows and columns

In [ ]:
dataframe.loc['C', 'Score1']

In [ ]:
dataframe.loc[['C', 'D'], 'Score1']

In [ ]:
dataframe.loc[['C', 'D'], ['Score1']]

In [ ]:
dataframe.loc[['C', 'D'], ['Score1', 'Score2']]

#### Conditional Selection

In [ ]:
dataframe

In [ ]:
dataframe > 0.5

In [ ]:
dataframe.iloc[6] > 0.3

In [ ]:
dataframe[dataframe>0.5]

In [ ]:
dataframe[ dataframe['Score1'] > 0.5 ]

In [ ]:
dataframe[ dataframe['Score1'] > 0.5 ]['Score2']

In [ ]:
dataframe

In [ ]:
dataframe.reset_index()

In [ ]:
newindex = 'IND JP CAN GE IT PL FY IU RT IP'.split()

In [ ]:
newindex

In [ ]:
dataframe['Countries'] = newindex

In [ ]:
dataframe

In [ ]:
dataframe.set_index('Countries', inplace=True)

In [ ]:
dataframe

#### Missing values

In [ ]:
dataframe = pd.DataFrame({'Cricket': [1, 2, np.nan, 7, 8, np.nan], 'Baseball': [1, 2, 45, 7, 89, 56], 'Hockey': [np.nan, 2, np.nan, 7, 8, 56]})

In [ ]:
dataframe

In [ ]:
dataframe.dropna()

In [ ]:
dataframe.dropna(axis=1)

In [ ]:
dataframe

In [ ]:
dataframe.dropna(thresh=1)

In [ ]:
dataframe.dropna(thresh=2)

In [ ]:
dataframe.fillna(value=00)

In [ ]:
dataframe['Cricket'].fillna(value=dataframe['Cricket'].mean())